@model TipCalculator.Models.CalculatorInput

@{
    ViewBag.Title = "Get User Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>GetInput</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                @using (Html.BeginForm("GetInput", "Home", FormMethod.Post, new {role = "form"}))
                {
                    <div style="font-weight: bold; color: red">@Html.ValidationSummary()</div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Amount)
                        @Html.TextBoxFor(m => m.Amount, new{placeholder = "Enter amount", @class = "form-control"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TipPercent)
                        @Html.TextBoxFor(m => m.TipPercent, new{placeholder = "Enter tip percent", @class = "form-control"})
                    </div>
                    <div>
                        <input type="submit" value="Calculate!" class="btn btn-info">
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
